<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aggregateframework.sample.hierarchicalmodel.command.infrastructure.dao.OrderInfoDao">

    <resultMap id="result" type="org.aggregateframework.sample.hierarchicalmodel.command.domain.entity.OrderInfo">
        <id property="id" column="ORDER_INFO_ID"/>
        <result property="name" column="NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
        <discriminator javaType="string" column="DTYPE">
            <case value="DeliveryOrderInfo"
                  resultType="org.aggregateframework.sample.hierarchicalmodel.command.domain.entity.DeliveryOrderInfo">
                <result property="deliveryInfo" column="DELIVERY_INFO"/>
            </case>
            <case value="JobOrderInfo"
                  resultType="org.aggregateframework.sample.hierarchicalmodel.command.domain.entity.JobOrderInfo">
                <result property="jobInfo" column="JOB_INFO"/>
            </case>
        </discriminator>
    </resultMap>

    <sql id="sql_select">
        SELECT
        ORDER_INFO_ID,
        NAME,
        DELIVERY_INFO,
        JOB_INFO,
        DTYPE,
        CREATE_TIME,
        LAST_UPDATE_TIME
        FROM
        CQRS_HIE_ORDER_INFO
    </sql>

    <select id="findAll" resultMap="result">
        <include refid="sql_select"/>
    </select>

    <select id="findByIds" resultMap="result">
        <include refid="sql_select"/>
        WHERE ORDER_INFO_ID IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CQRS_HIE_ORDER_INFO
        (NAME,DELIVERY_INFO,JOB_INFO,DTYPE)
        VALUES
        <foreach item="item" index="index" collection="list"
                 separator=",">

            <choose>
                <when test="item.dtype=='DeliveryOrderInfo'">
                    (#{item.name},#{item.deliveryInfo},NULL,#{item.dtype})
                </when>
                <when test="item.dtype=='JobOrderInfo'">
                    (#{item.name},NULL,#{item.jobInfo},#{item.dtype})
                </when>
            </choose>

        </foreach>
    </insert>

    <update id="updateAll">

        UPDATE
        CQRS_HIE_ORDER_INFO
        SET
        NAME=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN ORDER_INFO_ID=#{item.id}
            THEN #{item.name}
        </foreach>
        ELSE NAME END,

        DELIVERY_INFO=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN ORDER_INFO_ID=#{item.id}
            THEN
            <choose>
                <when test="item.dtype=='DeliveryOrderInfo'">#{item.deliveryInfo}</when>
                <otherwise>NULL</otherwise>
            </choose>
        </foreach>
        ELSE DELIVERY_INFO END,

        JOB_INFO=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN ORDER_INFO_ID=#{item.id}
            THEN
            <choose>
                <when test="item.dtype=='JobOrderInfo'">#{item.jobInfo}</when>
                <otherwise>NULL</otherwise>
            </choose>
        </foreach>
        ELSE JOB_INFO END

        WHERE
        <foreach item="item" index="index" collection="list" separator="OR">
            (ORDER_INFO_ID=#{item.id})
        </foreach>

    </update>

    <delete id="deleteAll">
        DELETE FROM
        CQRS_HIE_ORDER_INFO WHERE ORDER_INFO_ID in
        <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </delete>

</mapper>