<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aggregateframework.sample.complexmodel.command.infrastructure.dao.BookingPaymentDao">
    <resultMap id="result"
               type="org.aggregateframework.sample.complexmodel.command.domain.entity.BookingPayment">
        <result property="id" column="PAYMENT_ID"/>
        <result property="amount" column="AMOUNT"/>
    </resultMap>

    <sql id="sql_select">
		SELECT
		PAYMENT_ID,
		AMOUNT
		FROM
		CQRS_CPL_PAYMENT
	</sql>

    <select id="findById" resultMap="result">
        <include refid="sql_select"/>
        <![CDATA[
		WHERE PAYMENT_ID=#{id}
		]]>
    </select>

    <select id="findByIds" resultMap="result">
        <include refid="sql_select"/>
        WHERE PAYMENT_ID IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            >
        <![CDATA[



		INSERT INTO CQRS_CPL_PAYMENT
		(AMOUNT)
		VALUES
		(#{amount})


        ]]>

    </insert>

    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CQRS_CPL_PAYMENT
        (AMOUNT)
        VALUES
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (#{item.amount})
        </foreach>

    </insert>


    <update id="update">
		UPDATE
		CQRS_CPL_PAYMENT
		SET
		AMOUNT=#{amount}
		WHERE
		PAYMENT_ID=#{id}
	</update>

    <update id="updateAll">

        UPDATE
        CQRS_CPL_PAYMENT
        SET
        AMOUNT=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN PAYMENT_ID=#{item.id}
            THEN  #{item.amount}
        </foreach>
        ELSE AMOUNT END

        WHERE PAYMENT_ID IN
        <foreach item="item" index="index" collection="list" separator="," open="("  close=")">
            #{item.id}
        </foreach>

    </update>


    <delete id="delete">
        DELETE FROM
        CQRS_CPL_PAYMENT WHERE PAYMENT_ID=#{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM
        CQRS_CPL_PAYMENT WHERE PAYMENT_ID IN
        <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </delete>

</mapper>