<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aggregateframework.sample.quickstart.command.infrastructure.dao.OrderDao">

    <resultMap id="result" type="org.aggregateframework.sample.quickstart.command.domain.entity.PricedOrder">
        <result property="id" column="ORDER_ID"/>
        <result property="statusId" column="STATUS_ID"/>
        <result property="merchantOrderNo" column="MERCHANT_ORDER_NO"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
        <result property="version" column="VERSION_ID"/>
    </resultMap>

    <sql id="sql_select">
		SELECT
		ORDER_ID,
		STATUS_ID,
		MERCHANT_ORDER_NO,
		CREATE_TIME,
		LAST_UPDATE_TIME
		FROM
		CQRS_QCK_ORDER
	</sql>

    <select id="findAll" resultMap="result">
        <include refid="sql_select"/>
    </select>

    <select id="findByIds" resultMap="result">
        <include refid="sql_select"/>
        WHERE ORDER_ID IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CQRS_QCK_ORDER
        (STATUS_ID,MERCHANT_ORDER_NO,CREATE_TIME,LAST_UPDATE_TIME,VERSION)
        VALUES
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (#{item.statusId},#{item.merchantOrderNo},#{item.createTime},#{item.lastUpdateTime},#{item.version})
        </foreach>
    </insert>

    <update id="updateAll">

        UPDATE
        CQRS_QCK_ORDER
        SET
        TOTAL_AMOUNT=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN ORDER_ID=#{item.id}
            THEN #{item.totalAmount}
        </foreach>
        ELSE TOTAL_AMOUNT END,

        STATUS_ID=CASE
        <foreach item="item" index="index" collection="list" separator="">
            WHEN ORDER_ID=#{item.id}
            THEN #{item.totalAmount}
        </foreach>
        ELSE STATUS_ID END,

        VERSION=#{item.version}

        WHERE
        <foreach item="item" index="index" collection="list" separator="OR">
            (ORDER_ID=#{item.id} AND VERSION = #{item.version}-1)
        </foreach>

    </update>

    <delete id="deleteAll">
        DELETE FROM
        CQRS_QCK_ORDER WHERE ORDER_ID in
        <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </delete>

</mapper>