<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aggregateframework.test.dao.OrderDao">


    <resultMap id="result"
               type="org.aggregateframework.test.command.domain.entity.Order">
        <result property="id" javaType="java.lang.Integer" column="ORDER_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="payment.id" javaType="java.lang.Integer" column="PAYMENT_ID"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
    </resultMap>

    <sql id="sql_select">
		SELECT
		ORDER_ID,
		CONTENT,
		PAYMENT_ID,
		VERSION,
		CREATE_TIME,
		LAST_UPDATE_TIME
		FROM
		CQRS_ORDER
	</sql>

    <select id="findAll" resultMap="result">
        <include refid="sql_select"/>
    </select>

    <select id="findById" resultMap="result">
        <include refid="sql_select"/>
        <![CDATA[
		WHERE ORDER_ID=#id#
		]]>
    </select>

    <select id="findByIds" resultMap="result">
        <include refid="sql_select"/>
        WHERE ORDER_ID IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="org.aggregateframework.test.command.domain.entity.Order"
            useGeneratedKeys="true" keyProperty="id" keyColumn="ORDER_ID"
            >
        INSERT INTO CQRS_ORDER
        (PAYMENT_ID,CONTENT,VERSION)
        VALUES
        (#{payment.id,javaType=java.lang.Integer,jdbcType=INTEGER},#{content},#{version})

        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT @@IDENTITY AS id
        </selectKey>
    </insert>

    <delete id="delete" parameterType="org.aggregateframework.test.command.domain.entity.Order">
		DELETE FROM
		CQRS_ORDER WHERE ORDER_ID=#{id,javaType=java.lang.Integer,jdbcType=INTEGER}
	</delete>

    <update id="update" parameterType="org.aggregateframework.test.command.domain.entity.Order">
		UPDATE
		CQRS_ORDER
		SET
		CONTENT=#{content},
		PAYMENT_ID=#{payment.id,javaType=java.lang.Integer,jdbcType=INTEGER},
		VERSION=VERSION+1
		WHERE
		ORDER_ID=#{id,javaType=java.lang.Integer,jdbcType=INTEGER} and VERSION = #{version}
	</update>

</mapper>