<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aggregateframework.test.dao.OrderDao">


    <resultMap id="result"
               type="org.aggregateframework.test.command.domain.entity.Order">

        <result property="content" column="CONTENT"/>
        <result property="payment.id" javaType="java.lang.Integer" column="PAYMENT_ID"/>
        <result property="version" column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
        <!--<result property="id.id" javaType="java.lang.Integer" column="ORDER_ID"/>-->
        <!--<result property="id.userId" javaType="java.lang.Integer" column="USER_ID"/>-->
        <association property="id" javaType="org.aggregateframework.test.command.domain.entity.UserShardingId">
            <result property="id" javaType="java.lang.Integer" column="ORDER_ID"/>
            <result property="userId" javaType="java.lang.Integer" column="USER_ID"/>
        </association>
    </resultMap>

    <sql id="sql_select">
		SELECT
		ORDER_ID,
		USER_ID,
		CONTENT,
		PAYMENT_ID,
		VERSION,
		CREATE_TIME,
		LAST_UPDATE_TIME
		FROM
		CQRS_ORDER
	</sql>

    <select id="findAll" resultMap="result">
        <include refid="sql_select"/>
    </select>

    <select id="findById" resultMap="result">
        <include refid="sql_select"/>
        <![CDATA[
		WHERE ORDER_ID=#{id.id,javaType=java.lang.Integer,jdbcType=INTEGER} AND USER_ID = #{id.userId,javaType=java.lang.Integer,jdbcType=INTEGER}
		]]>
    </select>

    <select id="findByIds" resultMap="result">
        <include refid="sql_select"/>
        WHERE ORDER_ID IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item.id,javaType=java.lang.Integer,jdbcType=INTEGER}
        </foreach>
    </select>

    <insert id="insert" parameterType="org.aggregateframework.test.command.domain.entity.Order"
            useGeneratedKeys="true" keyProperty="id.id" keyColumn="ORDER_ID"
            >
        INSERT INTO CQRS_ORDER
        (USER_ID,PAYMENT_ID,CONTENT,VERSION)
        VALUES
        (#{id.userId,javaType=java.lang.Integer,jdbcType=INTEGER},#{payment.id,javaType=java.lang.Integer,jdbcType=INTEGER},#{content},#{version})

        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id.id">
            SELECT @@IDENTITY AS id
        </selectKey>
    </insert>

    <delete id="delete" parameterType="org.aggregateframework.test.command.domain.entity.Order">
		DELETE FROM
		CQRS_ORDER WHERE ORDER_ID=#{id.id,javaType=java.lang.Integer,jdbcType=INTEGER} AND VERSION = #{version}
	</delete>

    <update id="update" parameterType="org.aggregateframework.test.command.domain.entity.Order">
		UPDATE
		CQRS_ORDER
		SET
		CONTENT=#{content},
		PAYMENT_ID=#{payment.id,javaType=java.lang.Integer,jdbcType=INTEGER},
		VERSION=VERSION+1
		WHERE
		ORDER_ID=#{id.id,javaType=java.lang.Integer,jdbcType=INTEGER} and VERSION = #{version}
		AND USER_ID=#{id.userId,javaType=java.lang.Integer,jdbcType=INTEGER}
	</update>

</mapper>